<!-- _includes/head.html -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <meta name="theme-color" content="#eeeeee" media="(prefers-color-scheme: dark)" />
    <meta name="theme-color" content="#111111" media="(prefers-color-scheme: light)" />
    
    <title>
      {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}
    </title>

    <!-- MathJax or KaTeX CSS -->
    {% include mathjax.html %}
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text x=%22.20em%22 y=%22.90em%22 font-size=%2290%22>💜</text></svg>"></link>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">

    <!-- SEO and Feed Meta -->
    {% seo %}
    {% feed_meta %}

    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap" rel="stylesheet">
    
    <!-- Google Analytics -->
    {% include google-analytics.html %}
  </head>
  